@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Satisfy&display=swap');

:root {
    --light-blue: #99d9eb;
    --dark-blue: #114c6e;
    --bs-font-sans-serif: 'Barlow Semi Condensed', sans-serif;
}
body {
    width: 100%;
}
.color-light {
    color: var(--light-blue);
}
.navigation {
    display: block !important;
}
.navbar {
    display: block!important;
}
.navbar-collapse {
    display: block;
    flex-grow: unset;
}
.nav-link {
    font-variant: small-caps;
    
}
.navbar {
    padding: 0;
}

.nav-link[aria-current="page"] {
    text-decoration: underline solid var(--light-blue);
    text-decoration-thickness: 3px;
    text-underline-offset: 0.5rem;
}
.banner-back{
    /*  */
    background-image: url("../media/img/banner.jpg");
    width: 100%;
    /* ! Might Revert 
    filter: blur(2px);
    -webkit-filter: blur(2px); */
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ! Might Remove */
.banner-back::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #21252779;
}
.banner-back, .banner-back::after {
    height: 40vh;
}
.navbar-toggler {
    color: var(--light-blue);
    font-size: 30px;
}
nav {
    position: absolute;
    top: 0%;
    width: 100%;
}
.navbar-nav {
    background-color: var(--dark-blue);
    z-index: -1;
}
.rotate {
    transform: rotate(-90deg)
}
.banner {
    width: 100%;
    position: absolute;
    top: 20vh;
}
.banner-text {
    width: 100%;
}
.banner-text {
    font-family: Satisfy;
    font-size: 40px;
    font-weight: 100;
    color: white;
}
.menu-preview {
    padding: 40px;
    width: 100%;
}
.menu-text {
    margin-top: 20px;
}
.menu-preview-img {
    width: 60vw;
    height: 40vw;
    border-radius: 5px;
    background-image: url("../media/img/menu-preview.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}
.gallery {
    margin: 30px 0;
}
footer {
    background-color: var(--dark-blue);
    padding-left: 0!important;
    padding-right: 0!important;
    width:100%;
}
.footer-titles {
    width: 100%;
}
.footer, .footer-titles h4 {
    width: 33.33vw;
}
.footer-text {
    padding: 0;
}
@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: block!important;
        flex-basis: 100%;
    }
    .logo {
        width: 250px;
    }
    .menu-preview {
        flex-direction: row!important;
    }
    .menu-preview-img {
        width: 550px;
        height: 300px;
    }
    .menu-text {
        margin-right: 100px;
    }
    .banner-text {
        font-size: 80px;

    }
    .banner-back, .banner-back::after {
        height:80vh;
    }
    .banner {
        top: 35vh;
    }
    .navbar-nav {
        background-color: unset;
    }
}